.Testimonio__Parrafo{
    color: #e8d44d;
    font-style: italic;
}
.Testimonio__Img{
    
    border: 2px solid white;
    width: 4vw;
    height: 4vw;
}
.Testimonio__Nombre{
    color: #e8d44d;
    
}
.Testimonio__Titulo{
    color: white;
    font-size: 25pt;
}